<% @class = 'login' %>
<div class="login-wrap">
    <a href="/" class="logo hide-text">Feedbin</a>
    <div class="box">
        <%= render partial: 'shared/flash', locals: {flash: flash} %>
        <h3 class="box-header">Reset Password</h3>
        <%= form_tag password_resets_path, novalidate: 'novalidate' do %>
            <p>
                <%= render "shared/input" do %>
                    <%= email_field_tag :email, params[:email], placeholder: 'Email' %>
                <% end %>
            </p>
            <button class="button">Send</button>
        <% end %>
    </div>
</div>
