<div class="starred-feed-wrap">
    <%= render "shared/input", class: "accessory-right" do %>
        <input type="text" value="<%= starred_url(user.starred_token, format: :xml) %>" readonly />
        <button class="accessory right icon" data-behavior="copy" title="Copy to clipboard" data-toggle="tooltip">
            <%= svg_tag "icon-clipboard" %>
        </button>
    <% end %>
</div>
